# Use Unix line endings. The end.
#
* text eol=lf

# Explicitly declare text files so they get
# their line endings converted.
# 
*.c text
*.cpp text
*.h text
*.hpp text
*.cfg text
*.md text
*.txt text
*.sh text
*.html text
SConstruct text
CMakeLists.txt text

# Visual Studio and nonsense for Microsoft platforms
#
*.sln text eol=crlf
*.vcxproj text eol=crlf
*.filters text eol=crlf
*.cmd text eol=crlf
*.bat text eol=crlf

# All files that are truly binary and should not be modified.
#
*.png binary
*.jpg binary
*.tif binary
*.exr binary
*.pdf binary
